html { 
  background: url(pagebg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
}

.app{
  padding-left: 6%;
  font-family: Brush Script MT, Brush Script Std, cursive;
  color: darkblue;
  
}

.main{
  display: flex;
}



.header{
  margin-top: 1%;
  margin-bottom: 0%;
  font-size:70px;
  text-decoration: underline ;
}

.pBig{
  font-size: 50px;
  /* margin: 3%; */
  margin-bottom: 10%;
}
.pSmall{
  font-size: 30px;
  color: gray;
  /* margin: 3%; */
  margin-bottom: 10%;
}


.board{
  position: absolute;
  top: 20%;
  right: 30%;
  display: flex;
  border: 10px dashed darkblue;
}

.emptySlot{
  background-color: white;
  border: 1px dotted darkblue;
  height: 120px;
  width: 120px; 
}

@keyframes example {
  0%   {background-color: rgb(198, 198, 248);}
  25%  {background-color: rgb(131, 131, 197);}
  50%  {background-color: rgb(66, 66, 173);}
  100% {background-color: rgb(131, 131, 197);}
}
.winCombo{
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.player1{
  background-image: url(x.png);
  background-size: 100%;
  display: flex;
  border: 1px solid #042b24;
  height: 120px;
  width: 120px; 
}

.player2{
  background-image: url(o.png);
  background-size: 100%;
  display: flex;
  border: 1px solid #042b24;
  height: 120px;
  width: 120px; 
}

.gameOver{
  font-size:50px;
}


 

@media (max-width:700px){
  .main {
    padding:2%;
    display: inline-block;
  }
  .board{
    position: relative;
    top: 20%;
    right: 2%;
  }
  .side{
    /* display:inline-block; */
    margin: 0%;
  }
  .sideP{
    display: flex;
     margin: 20%;
   
  }
  .pBig{
    font-size: 25px;
    margin: 2%;
  }
  .pSmall{
    position: relative;
    top: 10px;
    font-size: 15px;
    margin: 2%;
  }
  .side button{
    position: relative;
    top: 20px;
    right: 10px;
    float: right;
  }
  .sideP{
    margin: 0%;
    display: inline-flex;
    justify-content: space-between;
  }
  .gameOver{
    font-size:25px;
  }
  /* .emptySlot, .player2, .player1 {
    height: 80px;
  width: 80px; 
  } */

}
